.categoriesWrapper {
  width: 100%;
  height: 70vh;
  display: flex;
  margin-top: 32px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(227, 227, 227);
  gap: 32px;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  .category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 250px;
    height: 44px;
    background-color: #007bff;
    padding: 12px 16px;
    border-radius: 8px;
  }
}
