.switch {
  font-size: 15px;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border: 1px solid #007bff;
  transition: 0.4s;
  border-radius: 32px;
  outline: none;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  border-radius: 50%;
  outline: 2px solid #007bff;
  left: -1px;
  bottom: -1px;
  background-color: #fff;
  transition: transform 0.25s ease-in-out 0s;
}

.sliderIcon {
  opacity: 0;
  height: 12px;
  width: 12px;
  stroke-width: 8;
  position: absolute;
  z-index: 999;
  stroke: #007bff;
  right: 60%;
  top: 30%;
  transition:
    right ease-in-out 0.3s,
    opacity ease-in-out 0.15s;
}

input:checked + .slider {
  background-color: #007bff;
}

input:checked + .slider .slider-icon {
  opacity: 1;
  right: 20%;
}

input:checked + .slider:before {
  transform: translateX(2em);
  outline-color: #007bff;
}
