.cardWrapper {
  button {
    margin: 0 auto;
    width: 180px;
    height: 44px;
    color: white;
    outline: none;
    border: none;
    background-color: #007bff;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 16px;
  }
}

.spy {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cardSection {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;

  h3,
  p {
    font-size: 20px;
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.wordWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.helper,
.hint {
  font-size: 14px;
  background-color: rgba(0, 123, 255, 0.3);
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px solid rgba(0, 123, 255, 0.5);
}
.gameOverSection {
  display: flex;
  flex-direction: column;
  gap: 48px;
  text-align: center;
  align-items: center;

  .timerWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .timer {
      font-size: 48px;
      font-weight: bold;
      color: #007bff;
    }

    .timesUp {
      color: #ff4d4d;
      font-size: 24px;
    }
  }

  .finishBtn {
    margin-top: 24px;
  }
}
