* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  background: radial-gradient(circle, #001f3f 0%, #000b1e 100%);
}
body {
  background: #001f3f;
  background: radial-gradient(circle, #001f3f 0%, #000b1e 100%);
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
